body {
  font-size: 16px;
}

#jumbotron {
  width: 100%;
  height: 90vh;
  background-color: green;
}

.social {
  color: black;
}

#projects{
  height:90vh;
}
#projects h1{
  margin-bottom: 0.5em;
}

#social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  font-size:1.3em;
}

.contact {
  margin-top: 20vh;
  padding: 0 1em 1em 1em;
  /* margin-top:3vh; */
}

#email{
  font-size:1.2em;

}



.highlight {
  height: 50vh;
  margin: 0 0.5em;
  margin-bottom:1em;
}
.highlight a p {
  display:none
}
.highlight a:hover p{
  display: block;
}



.non-highlight {
  height: 18vh;
  margin: 0.5em 0.5em;
}
.non-highlight a p {
  display:none
}
.non-highlight a:hover p{
  display: block;
}

#construction{
  text-align: center;
}
.description{
  margin-top: 3em;
  text-align: center;

}

#social a:visited {
  color: black;
}
