body {
  font-size: 16px;
}

#jumbotron {
  width: 60%;
  height: 80vh;
  background-color: #1abc9c; 
  margin-left: 20%;
}

h1 p{
  display: flex;
  justify-content: center;
  margin: -10px;
}

#secondLine {
  font-size: 0.7em;
}


.middle {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.nav-link{
  font-size: 1.5em;
}

.about {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #474e5d;
  color: #ffffff;
  margin-bottom: 1em;
}

.social {
  color: white;
}

svg {
  color: white;
}

.projectLink {
  color: black;
  text-decoration: none;
}

#projects {
  height: 90vh;
}
#projects h1 {
  margin-bottom: 0.5em;
}

#social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  font-size: 1.3em;
}

.contact {
  margin-top: 20vh;
  padding: 1em 1em 2em 1em;
  /* margin-top:3vh; */
  color:white;
  background-color: black;
}

#email {
  font-size: 1.2em;
}

.highlight {
  height: 50vh;
  margin: 0 0.5em;
  margin-bottom: 1em;
}

.highlight a p {
  display: none;
}

.highlight a:hover p {
  display: block;
  text-decoration: none;
  color: white;
}
.highlight a:hover div {
  height: 51vh;
  box-sizing: border-box;
  border: 8px solid blue;
  margin-left: -1.4em;
  margin-top: -1.6em;
  margin-right: -1em;
  color: darkgreen;
  text-decoration: none;
}
.clickableMain {
  display: initial;
  padding-bottom: 19em;
  padding-right: 18em;
  padding-top: 1em;
  margin-top: 0;
  /* border: 1px solid red;  */
}

.non-highlight {
  height: 18vh;
  margin: 0.5em 0.5em;
  color: white;
  /* border: 1px solid red; */
}
.non-highlight a p {
  display: none;
  color: white;
}

a.non-highlight:hover div {
  color: white;
}
.non-highlight a:hover p {
  display: block;
  text-decoration: none;
  color: white;
}

.middle img {
  width: 250px;
  border-radius: 50%;
}

#preview {
  /* font-size: 1.3em; */
  padding: 1em 2em;
  /* display: flex; */
  /* justify-content: center; */
}

a.projectLink {
  color: darkgreen;
}

.non-highlight a:hover div {
  height: 19vh;
  box-sizing: border-box;
  border: 8px solid blue;
  margin-left: -1.4em;
  margin-top: -1.6em;
  margin-right: -1em;
  color: darkgreen;
  text-decoration: none;
}

#construction {
  text-align: center;
}
div p.description {
  text-decoration: none;
  margin-top: 2em;
  text-align: center;
}

#social a:visited {
  color: black;
}
#social a:hover {
  text-decoration: none;
}

.clickable {
  display: initial;
  padding-bottom: 2em;
  padding-right: 20em;
  margin-top: 0;
}

#color {
  background-image: url(./assets/RGBguessing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#todo {
  background-image: url(./assets/todo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#playlistify {
  background-image: url(./assets/playlistify.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#yelpcamp {
  background-image: url(./assets/yelpcamp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#kindojo {
  background-image: url(./assets/kindojo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#react {
  background-image: url("https://image.shutterstock.com/image-vector/not-completed-red-stamp-text-260nw-472077142.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
